<p>Mon Panier</p>
<br>
<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> the product is successfully deleted to your panel
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Products</th>
      <th scope="col">Category</th>
      <th scope="col">price</th>
      <th scope= "col">Details</th>
      <th scope= "col">Action </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of myProducts">
      <td>{{product.nameProduct}}</td>
      <td>{{product.category.nameCategory}}</td>
      <td>{{product.price}}</td>
      <td>{{product.details}}</td>
      <td>  <button type="button" class="btn btn-warning btn-sm" (click)="delete(product.id)">
        delete
     </button></td>
    </tr>
    </tbody>
    </table>




